.main {
  min-height: 100vh;
  flex: 2;
}

.searchBar {
  width: 35vw;
  height: 50px;
  margin: 10px;
  box-shadow: 0 0 10px 1px rgb(216, 216, 216);
  border-radius: 25px;
  background: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBoxInput {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 5px 20px;
  font-size: 16px;
}

.searchBoxInput::placeholder {
  color: rgb(151, 151, 151);
  font-size: 16px;
}

.searchIcon {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e535ab;
  font-size: 20px;
}

@media (max-width: 760px) {
  .searchBar {
    width: 90vw;
    margin: 10px auto;
  }
}

.booksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 70px;
}

.bookContainer {
  text-align: center;
  margin: 15px 20px;
}

.cover {
  width: 100px;
  height: 150px;
  background: rgb(130, 130, 130);
  border-radius: 16px;
}

.addBook {
  position: fixed;
  bottom: 20px;
  left: 20px;
  
}

.addBookButton:active + div,
.addBookButton:focus + div {
  transition: width 0.5s, height 0.5s ease;
  width: 350px;
  height: 300px;
}

.addBookContainer {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px 0.5px rgb(0 0 0 / 32%);
  overflow: hidden;
}

.addBookContainer:focus-within {
  width: 350px;
  height: 300px;
}

.addBookButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #e535ab;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.addBookButton:focus {
  background: #000;
}

.addBookButton:hover {
  transform: scale(1.05);
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 18px;
  color: #e535ab;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease;
}

.closeButton:hover {
  color: #fff;
  background-color: #7971717e;
  transform: scale(1.1);
}

.closeButton:hover .addBookContainer {
  /* width: 0;
  height: 0; */
  background: #000;
}

.addBookForm {
  padding: 0 10px;
}

.fields {
  position: relative;
  margin: 15px 0 20px 0;
  background: #fff;
}

.fields input {
  border: 0.5px solid #cccccc;
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  padding: 10px;
}

.fields input:focus {
  border-color: #ed11a3;
}

.fields label {
  color: #999;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(10px, -50%);
  padding: 0 5px;
  transition: all 0.2s ease-out;
}

.fields input:focus + label,
.fields input:not(:placeholder-shown) + label {
  color: #161e26;
  top: 0;
  left: 20px;
  font-size: 13px;
  transform: translate(0, -50%);
  background: inherit;
}

/* .main {
  min-height: 100vh;
  flex: 2;
}

.searchBar {
  width: 35vw;
  height: 50px;
  margin: 10px;
  box-shadow: 0 0 10px 1px rgb(216, 216, 216);
  border-radius: 25px;
  background: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBoxInput {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 5px 20px;
  font-size: 16px;
}

.searchBoxInput::placeholder {
  color: rgb(151, 151, 151);
  font-size: 16px;
}

.searchIcon {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e535ab;
  font-size: 20px;
}

@media (max-width: 760px) {
  .searchBar {
    width: 90vw;
    margin: 10px auto;
  }
}

.booksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 70px;
}

.bookContainer {
  text-align: center;
  margin: 15px 20px;
}

.cover {
  width: 100px;
  height: 150px;
  background: rgb(130, 130, 130);
  border-radius: 16px;
}

.addBook {
  position: fixed;
  left: 20px;
  bottom: 20px;
  transition: all 0.2s ease;
}

.addBookContainer {
  width: 350px;
  height: 300px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px 0.5px rgb(0 0 0 / 32%);
}

.addBookButton {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #e535ab;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.addBookButton > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBookButton:hover {
  transform: scale(1.05);
}

.addBookForm {
  padding: 0 10px;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 18px;
  color: #e535ab;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease;
}

.closeButton:hover {
  color: #fff;
  background-color: #7971717e;
  transform: scale(1.1);
}

.closeButton::before {
}

.closeButton:hover::before {
}

.fields input {
  border: 0.5px solid #cccccc;
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  padding: 10px;
}

.fields input:focus {
  border-color: #ed11a3;
}

.fields label {
  color: #999;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(10px, -50%);
  padding: 0 5px;
  transition: all 0.2s ease-out;
}

.fields input:focus + label,
.fields input:not(:placeholder-shown) + label {
  color: #161e26;
  top: 0;
  left: 20px;
  font-size: 13px;
  transform: translate(0, -50%);
  background: inherit;
}

.fields {
  position: relative;
  margin: 15px 0 20px 0;
  background: #fff;
} */
