.main {
  min-height: 100vh;
  background: #161e26;
  border-radius: 16px 0 0 16px;
  width: 40%;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
  overflow: hidden;
}

@media (max-width: 760px) {
  .main {
    position: static;
    width: 100%;
    border-radius: 0;
  }
}

.detail {
  flex: 1;
  padding: 20px;
  text-transform: capitalize;
  line-height: 18px;
  position: relative;
}

.detail p {
  margin: 10px 0;
}

.key {
  font-size: 15px;
  font-weight: bold;
  color: #e535ab;
}

.list {
  padding-left: 40px;
}

.list li {
  margin: 10px;
}

.bookButton {
  visibility: hidden;
  background: #e535ab;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 760px) {
  .bookButton {
    visibility: visible;
  }
}
